<<<<<<< HEAD
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #white;
  font-family: sans-serif;
  font-size: 75%;
}

.container {
  background-color: #dadada;
  margin: 20px auto;
  width: 90%;
}

div {
  float: left;
  margin: 1% 0;
  width: 100%;
  padding: 20px 25px;
}


@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
  body {
    display: block;
    margin: 8px;
  }
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}

h1, h3 {
  font-size: 2.5em;
  margin: 0;
}

h3 {
  font-size: 1.8em;
  font-weight: 300;
=======
body {
  background-color: #dadada;
  font-size: 10px;
>>>>>>> d5ae916f8f5ec7f3d161eb0e6f5d1c72c77762a1
}
